body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #fff; /* White background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block; /* Ensure label is above input */
    margin-bottom: 5px;
    color: #000; /* Black text */
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #000; /* Black border */
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #000; /* Black background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #333; /* Darker shade of black */
}

a {
    color: #000; /* Black text for links */
}

a:hover {
    color: #333; /* Darker shade of black for link hover */
}